.button-select-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.627);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.button-select-overlay > div {
  font-size: 2rem;
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.94);
  padding: 1em;
  border-radius: 1em;
  border: 1px solid black;
}
