.announcement-container {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  width: 300px;
  font-size: 1.5em;
  z-index: 1;
}

.announcement-container.fade-in {
  opacity: 1;
}

.announcement-container.fade-out {
  opacity: 0;
}

/* styles.css */
.announcement {
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  font-family: "Arial", sans-serif;
  color: #fff;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

.announcement.long-rally {
  background-color: #f39c12;
}

.announcement.ace {
  background-color: #e74c3c;
}

.announcement.win-streak {
  background-color: #2ecc71;
}

.announcement.switch-ends {
  background-color: #3498db;
}

.announcement.win-game {
  background-color: #9b59b6;
}

.announcement.deuce-count {
  background-color: #f016de;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
