.scoreboard {
  padding: 0;
  background-color: rgba(255, 255, 255, 0.757);
  color: #000000;
  font-family: Arial, sans-serif;
  text-align: center;
  right: 0;
  height: 3em;
  font-size: 1.5rem;
}

.row {
  display: flex;
}

.header {
  font-weight: bold;
}

.cell {
  text-align: center;
  text-wrap: nowrap;
}

.number-cell {
  text-align: center;
  width: 1em;
}
.game-cell {
  text-align: center;
  width: 1.5em;
}
.player-cell {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
