#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Catamaran", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.main-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

.game-announcements-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.second-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-items: center;
}

.second-container > .header {
  grid-column: 1 / -1; /* Span the entire first row */
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

.second-container > .header > div {
  width: calc(100vw / 3);
  display: flex;
  justify-content: center;
}

.second-container > .player-score,
.second-container > .game-canvas-container {
  grid-column: span 1; /* Each div spans one column in the second row */
}

.second-container > .footer {
  grid-column: 1 / -1; /* Span the entire third row */
  height: 100px;
}
.second-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/wimblepong.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10%;
  opacity: 0.05;
  z-index: -1; /* Ensure the pseudo-element stays behind the content */
}

.footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
}
.footer > * {
  width: 200px;
}
.match-info {
  width: 300px;
}
