.game-canvas-container {
  position: relative;
  height: 100%;
}
.game-canvas {
  border: 3px solid white;
  background: linear-gradient(to bottom, rgb(0, 102, 51), rgb(0, 102, 51) 50%, rgba(0, 102, 51, 0.8) 50%, rgba(0, 102, 51, 0.8));
  /* The rectangle in which to repeat. 
   It can be fully wide in this case */
  background-size: 100% calc(800px / 6);
  z-index: -1;
}

.game-canvas-container::after {
  content: "";
  position: absolute;
  height: 800px;
  left: 50%;
  border-left: 5px dashed rgba(255, 255, 255, 0.432);
}
