.selected {
  background-color: aliceblue;
  color: black;
}

.play-button {
  background-color: rgb(101, 255, 119);
  color: black;
}

.menu {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px
}

.input {
  font-size: 1.5rem;
}
.input[type="checkbox"] {
  width: 1.5rem;
}
.input[type="text"] {
  width: 200px;
}

label {
  width: min(500px, 100vw);
  display: flex;
  justify-content: space-between;
  text-align: left;
}
