.player-score {
  width: 210px;
  font-size: 2rem;
  display: flex;
  justify-content: start;
  flex-direction: column;
}
.serving {
  height: 50px;
}
.games,
.sets {
  display: flex;
  justify-content: space-between;
}

.score-number {
  font-family: "Courier New", Courier, monospace;
}
.display-item {
  margin: 0;
}
