#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Catamaran", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.main-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.game-announcements-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap: ; */
}

.second-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  position: relative;
  padding-top: 3em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.second-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/wimblepong.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10%;
  opacity: 0.05;
  z-index: -1; /* Ensure the pseudo-element stays behind the content */
}

.full-screen-button {
}
