.game-score-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.score {
  font-size: 4em;
  font-family: "Courier New", Courier, monospace;
  width: 100px;
  text-align: center;
}
.score-middle {
  font-size: 3em;
  width: 300px;
}

.same-score {
  opacity: 1;
}

.new-score {
  opacity: 0; /* Start from invisible */
  animation: appear 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}
