.scoreboard {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #cacaca67;
  color: #ecf0f1;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #34495e;
}

.header {
  font-weight: bold;
}

.cell {
  flex: 1;
  text-align: center;
}
